<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description"
    content="This is a realtime online strategy game where players compete to capture each other's bases and clash with each other using tanks">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battlefront- Login</title>
    <link rel="stylesheet" href="./css/signup.css">
    <link rel="shortcut icon" href="./res/img/fav.png" type="image/x-icon">
</head>
<div id="background"></div>

<body>
    <nav>
        <h1>BATTLEFRONT</h1>
    </nav>
    <fieldset>
        <form action="/login" method="post">
            <p>
                <label for="name">Username</label><br>
                <input type="text" name="username" min="3" max="12">
            <p>
                <label for="password">Password</label><br>
                <input type="password" name="pwd" min="8">
            </p>
            <p>
                <input type="checkbox" name="remember">
                <label for="rememberme">Remember me</label>
            </p>
            <input type="submit" value="LOGIN" name="submit">
            <%if(error){%>
                <p class="error">
                <%=error%>
                </p>
            <%}%>
    </fieldset>
    <div id="login">
        <a href="./signup">signup here</a>
    </div>
</body>

</html>