#c1{
    background-color: antiquewhite;
}
canvas{
    position: absolute;
}
#c2,#c3{
    background-color: transparent;
}
#UI{
    position:absolute;
}
#mini{
    width: 300px;
    height: auto;
    left: 100%;
    background-color: black;
    opacity: 0.9;
    transform: translate( -100%);
}
#can-div{
    height: inherit;
    width: inherit;
}
@media only screen and(max-width:600px){
    #mini{
        width: 160px;
        height: auto;
    }
}